{
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "fetch": true,
    "FileReader": true,
    "FormData": true,
    "document": true,
    "L": true,
    "localStorage": true,
    "paypal": true,
    "URL": true,
    "window": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-boolean-value": ["error", "always"],
    "react/jsx-first-prop-new-line": ["error", "never"],
    "react/jsx-closing-bracket-location": 0,
    "import/prefer-default-export": 0,
    no-console: ["error", { allow: ["warn", "error"] }],
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0,
    "react/no-did-mount-set-state": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-param-reassign": 0,
    "no-nested-ternary": 0
  }
}
