
.app {
  position: relative;
  min-height: 100vh;
  max-width: 100vw;

  @media all and (min-width: 700px) {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
}

.app__nav-control {

  @media all and (min-width: 700px) {
    display: none;
  }

  @media all and (max-width: 699px) {
    position: relative;
    z-index: 200;
    width: 100%;
  }

  @media print {
   display: none;
  }
}

.app__content {
  @media all and (min-width: 700px) {
    flex: 1 1;
    min-width: 0px;
  }

  @media all and (max-width: 699px) {
    min-height: 100vh;
  }
}

.app--nav {
  @media screen and (max-width: 699px) {
    max-height: 100vh;
    overflow: hidden;

    .main-nav {
      position: absolute;
      display: block;
      height: 90vh;
      width: 100%;
      overflow: auto;
      z-index: 2;
    }

    .app__content {
      opacity: 0.2;
    }
  }
}

.main-nav {
  font-family: 'Lucide Grande', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: $nav-background-color;
  color: $active-color;

  @media all and (min-width: 700px) {
    flex: 0 0 $sidebar-width;
  }

  @media all and (max-width: 699px) {
    display: none;
  }

  @media print {
   display: none;
  }
}

.main-nav__items {
  list-style-type: none;
  margin: 0 0 $double-unit;
  padding: 0;
}

.main-nav__link {
  display: block;
  color: $active-color;

  &:not(.button-plain) {
    padding: $half-unit $unit;
    text-decoration: none;
  }

  &.button-plain {
    width: 100%;
  }

  &:hover {
    background-color: $control-hover-background;
  }
}

.main-nav__link--active {
  background-color: $control-active-background;
}

.main-nav__session {
  flex: 0 0 auto;
}

.main-nav__session-name {
  display: block;
  padding: $half-unit $unit;
}

.logo {
  max-height: $double-unit;
}

@mixin page-header-input {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  font-size: 1.125rem;;
  cursor: pointer;
  padding: $half-unit $unit;
  height: 100%;
  width: auto;

  @media all and (min-width: 700px) {
    line-height: $double-unit;
  }

  // @media all and (max-width: 699px) {
  //   padding: $half-unit;
  // }

  &:hover {
    background-color: $control-hover-background;
    color: $control-hover-color;
  }
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  // background-color: $header-background-color;

  @media all and (min-width: 700px) {
    min-height: $triple-unit;

    .button-icon {
      height: $triple-unit;
      width: $triple-unit;

      + .page-header__main .page-header__title {
        margin-left: $half-unit;
      }
    }
  }

  @media all and (max-width: 699px) {
    min-height: $triple-unit;

    .button-icon {
      padding: $third-unit;
    }
  }
}

.page-header--responsive {
  .page-header__menu-control {
    @media all and (min-width: 700px) {
      display: none;
    }

    @media all and (max-width: 699px) {
      @include page-header-input();
    }
  }

  .page-header__actions {

    @media screen and (min-width: 700px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: $triple-unit;
    }

    @media screen and (max-width: 699px) {
      display: none;
      flex-direction: column;
      min-height: $double-unit;
    }
  }

  .page-header__menu--active {
    @media screen and (max-width: 699px) {
      position: absolute;
      z-index: 100;
      right: 0;
      width: 100vw;
      background-color: $secondary-background-color;

      .page-header__menu-control {
        text-align: right;
        width: 100%;
      }

      .page-header__actions {
        display: flex;
        padding: $half-unit 0;
        border-bottom: 1px solid $border-color;

        .search {
          padding: 0 $half-unit;
        }

        > a,
        > .button,
        .page-header__dropper > .button,
        .page-header__drop {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

.page-header:not(.page-header--responsive) {
  .page-header__menu {
    flex: 1 1;
  }

  .page-header__menu-control {
    display: none;
  }

  .page-header__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    @media screen and (min-width: 700px) {
      height: $triple-unit;
    }

    @media screen and (max-width: 699px) {
      height: $double-unit;
    }
  }
}

.page-header__nav-control {
  flex: 0 0 auto;
  height: $triple-unit;
  padding: $half-unit $unit;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.page-header__logo {
  height: 100%;
}

.page-header__back {
  padding: $unit;
  margin: 0;
  height: 100%;
}

.page-header__title {
  flex: 0 1 auto;
  margin: 0 $half-unit 0 0;
  line-height: $double-unit;

  &:first-child {
    margin-left: $unit;
  }

  @media all and (max-width: 699px) {
    margin: 0;
    font-size: 1.25em;
  }
}

.page-header__menu {
  flex: 1 1;
  text-align: right;

  @media screen and (max-width: 699px) {
    position: relative;
  }

  @media print {
   display: none;
  }
}

.page-header__actions {
  > a,
  > .button,
  > select,
  > .page-header__dropper > .button {
    @include page-header-input();
  }

  > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-radius: 0;
    padding-right: $double-unit;
    background: $small-drop-caret no-repeat center right $half-unit;
    cursor: pointer;

    &::-moz-focus-inner {
      border: none;
    }
  }
}

.page-header__secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $header-background-color;

  .search {
    max-width: $page-width + $double-unit;
  }
}

.page-header__dropper {
  position: relative;
}

.page-header__drop {
  position: absolute;
  z-index: 10;
  right: 0;
  background-color: $header-background-color;
  padding: $unit;

  @media all and (max-width: 699px) {
    text-align: center;
  }

  &.box--row {
    align-items: flex-start;
  }
}

.filter {

  @media all and (min-width: 700px) {
    .filter__control {
      display: none;
    }
  }

  @media all and (max-width: 699px) {
    .filter__select {
      display: none;
    }
  }
}

.filter--active {
  .filter__select {
    display: block;
    position: absolute;
    top: $double-unit;
    left: 0;
    max-width: round($unit * 24);
    width: 100vw;
    background-color: $background-color;
  }
}

.filter-item {
  padding: $quarter-unit 0;

  > * {
    flex: 0 0 auto;
  }

  > label {
    white-space: nowrap;
  }
}
