
.app {
  position: relative;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;

  @media all and (min-width: 700px) {
    display: flex;
    flex-direction: row;
  }

  @media all and (max-width: 699px) {
    overflow: auto;
  }
}

.app__nav-control {

  @media all and (min-width: 700px) {
    display: none;
  }

  @media all and (max-width: 699px) {
    position: relative;
    z-index: 200;
    width: 100%;
  }
}

.app__content {
  @media all and (min-width: 700px) {
    flex: 1 1;
    min-width: 0px;
  }

  @media all and (max-width: 699px) {
    min-height: 100vh;
  }
}

.app--nav {
  @media all and (max-width: 699px) {
    max-height: 100vh;
    overflow: hidden;

    .main-nav {
      position: absolute;
      display: block;
      height: 90vh;
      width: 100%;
      overflow: auto;
      z-index: 2;
    }

    .app__content {
      opacity: 0.2;
    }
  }
}

.main-nav {
  font-family: 'Lucide Grande', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: $nav-background-color;
  color: $active-color;

  @media all and (min-width: 700px) {
    flex: 0 0 $sidebar-width;
  }

  @media all and (max-width: 699px) {
    display: none;
  }
}

.main-nav__items {
  list-style-type: none;
  margin: 0 0 $double-unit;
  padding: 0;
}

.main-nav__link {
  display: block;
  padding: $half-unit $unit;
  text-decoration: none;
  color: $active-color;

  &:hover {
    background-color: $control-hover-background;
  }
}

.main-nav__link--active {
  background-color: $control-active-background;
}

.main-nav__session {
  flex: 0 0 auto;
}

.main-nav__session-name {
  display: block;
  padding: $half-unit $unit;
}

.logo {
  max-height: $double-unit;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $header-background-color;

  @media all and (min-width: 700px) {
    height: $triple-unit;

    .button-icon {
      height: $triple-unit;
      width: $triple-unit;

      + .page-header__main .page-header__title {
        margin-left: $half-unit;
      }
    }
  }

  @media all and (max-width: 699px) {
    min-height: $double-unit;
  }

  > * {
    flex: 0 0 auto;
  }
}

.page-header--form {
  max-width: $form-width;
  justify-content: space-between;
  margin: 0 auto;
}

.page-header__logo {
  height: 100%;
}

.page-header__back {
  padding: $unit;
  margin: 0;
  height: 100%;
}

.page-header__main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.page-header__title {
  margin: 0 $unit;
  line-height: $double-unit;

  @media all and (max-width: 699px) {
    flex: 1;
    margin: 0 $half-unit;
    font-size: 1.25em;
  }
}

.page-header__search {
  position: relative;
  z-index: 1;
  flex: 1 0 auto;
  margin: 0;
  padding: 0 $half-unit;
  height: $double-unit;
  border: none;
  border-width: 1px;
  border-color: $header-background-color;
  border-left-style: solid;
  background-color: transparent;
  font-size: 1.4rem;
}

.page-header__actions {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media all and (min-width: 700px) {
    height: $triple-unit;
  }

  @media all and (max-width: 699px) {
    min-height: $double-unit;
  }
}

.page-header__dropper {
  position: relative;
}

.page-header__drop {
  position: absolute;
  z-index: 10;
  right: 0;
  background-color: $header-background-color;
  padding: $unit;

  &.box--row {
    align-items: flex-start;
  }
}

.filter {

  @media all and (min-width: 700px) {
    .filter__control {
      display: none;
    }
  }

  @media all and (max-width: 699px) {
    .filter__select {
      display: none;
    }
  }
}

.filter--active {
  .filter__select {
    display: block;
    position: absolute;
    top: $double-unit;
    left: 0;
    max-width: round($unit * 24);
    width: 100vw;
    background-color: $background-color;
  }
}

.filter-item {
  padding: $quarter-unit 0;

  > * {
    flex: 0 0 auto;
  }

  > label {
    white-space: nowrap;
  }
}

.a-header,
.button-header,
.select-header {
  text-decoration: none;
  background-color: $header-background-color;
  color: inherit;
  font-size: 1.125rem;;
  cursor: pointer;
  padding: $half-unit $unit;
  height: 100%;
  width: auto;

  @media all and (min-width: 700px) {
    line-height: $double-unit;
  }

  @media all and (max-width: 699px) {
    padding: $half-unit;
  }

  &:hover {
    background-color: $control-hover-background;
    color: $active-color;
  }
}

.select--header {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0;
  padding-right: $double-unit;
  background: $small-drop-caret no-repeat center right $half-unit;
  cursor: pointer;

  &::-moz-focus-inner {
    border: none;
  }
}
