.audio {
  display: flex;
  width: 100%;
  font-size: 1.25rem;

  @media all and (min-width: 700px) {
    flex-direction: row;
    align-items: center;
    height: $double-unit;
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
  }

  audio {
    position: absolute;
    height: 0;
  }
}

.audio.item {
  padding: 0;
}

.audio:not(.audio--plain) {
  @media all and (min-width: 700px) {
    padding: $quadruple-unit 0 $unit;
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
  }
}

.audio__label {
  margin-right: $unit;
}

.audio__control {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media all and (max-width: 699px) {
    margin-bottom: $half-unit;
  }
}

.audio__position,
.audio__volume {

  padding: 0;

  // Reset
  &[type=range] {
    -webkit-appearance: none; // Hides the slider so that custom slider can be made
    width: 100%; // Specific width is required for Firefox.
  }

  &[type=range]:focus {
    outline: none; // Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though.
  }

  // Thumb

  &[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: $double-unit;
    width: $quarter-unit;
    background: #999;
    border: none;
    cursor: pointer;
    // margin-top: -14px; // You need to specify a margin in Chrome, but in Firefox and IE it is automatic
  }

  &[type=range]::-moz-range-thumb {
    height: $double-unit;
    width: $quarter-unit;
    background: #999;
    cursor: pointer;
  }

  &[type=range]::-ms-thumb {
    height: $double-unit;
    width: $quarter-unit;
    background: #999;
    cursor: pointer;
  }

  // Track

  &[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: $double-unit;
    cursor: pointer;
    background: #eee;
    border: none;
  }

  &[type=range]:focus::-webkit-slider-runnable-track {
    background: #eee;
    border: none;
  }

  &[type=range]::-moz-range-track {
    width: 100%;
    height: $double-unit;
    cursor: pointer;
    background: #eee;
  }

  &[type=range]::-ms-track {
    width: 100%;
    height: $double-unit;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

  &[type=range]::-ms-fill-lower {
    background: #eee;
  }

  &[type=range]:focus::-ms-fill-lower {
    background: #eee;
  }

  &[type=range]::-ms-fill-upper {
    background: #eee;
  }

  &[type=range]:focus::-ms-fill-upper {
    background: #eee;
  }
}

.audio__position-container {
  position: relative;

  @media all and (min-width: 700px) {
    flex: 1 1;
  }
}

.audio__duration {
  position: absolute;
  top: 50%;
  right: $unit;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
  color: $secondary-color;
}

.audio__volume-container {
  position: relative;

  @media all and (min-width: 700px) {
    flex: 0 1 $quadruple-unit;
    margin-left: $unit;
  }

  .control-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
  }
}
