.audio {
  display: flex;
  width: 100%;
  font-size: 1.25rem;
  background-color: #E3A235;

  @media all and (min-width: 700px) {
    flex-direction: row;
    align-items: center;
    height: $double-unit;
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
    align-items: center;
  }

  audio {
    position: absolute;
    height: 0;
  }
}

.audio.item {
  padding: 0;
}

.audio:not(.audio--plain) {
  @media all and (min-width: 700px) {
    margin-top: $unit;
    margin-bottom: $unit;
    padding: 0;
  }

  @media all and (max-width: 699px) {
    padding: $half-unit;
  }
}

.audio__label {
  margin-right: $unit;
}

.audio__toggle {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media all and (max-width: 699px) {
    margin: $half-unit 0;
  }

  .control-icon:not(:first-child) {
    margin: $half-unit 0 $half-unit $half-unit;
  }
}

.audio__control {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.audio__position,
.audio__volume {

  margin: 0;
  padding: 0;

  // Reset
  &[type=range] {
    -webkit-appearance: none; // Hides the slider so that custom slider can be made
    width: 100%; // Specific width is required for Firefox.
  }

  &[type=range]:focus {
    outline: none; // Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though.
  }

  // Thumb

  &[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: $unit;
    width: $unit;
    border-radius: $half-unit;
    background: #fff;
    border: none;
    cursor: pointer;
    margin-top: - $half-unit;
    // margin-top: -14px; // You need to specify a margin in Chrome, but in Firefox and IE it is automatic
  }

  &[type=range]::-moz-range-thumb {
    height: $unit;
    width: $unit;
    border-radius: $half-unit;
    border: none;
    background: #fff;
    cursor: pointer;
  }

  &[type=range]::-ms-thumb {
    height: $unit;
    width: $unit;
    border-radius: $half-unit;
    background: #fff;
    cursor: pointer;
  }

  // Track

  &[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: $secondary-color;
    border: none;
  }

  &[type=range]:focus::-webkit-slider-runnable-track {
    background: $secondary-color;
    border: none;
  }

  &[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: $secondary-color;
  }

  &[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

  &[type=range]::-ms-fill-lower {
    background: $secondary-color;
  }

  &[type=range]:focus::-ms-fill-lower {
    background: $secondary-color;
  }

  &[type=range]::-ms-fill-upper {
    background: $secondary-color;
  }

  &[type=range]:focus::-ms-fill-upper {
    background: $secondary-color;
  }
}

.audio__position {
  @media all and (min-width: 700px) {
    flex: 1 1;
    margin-right: $unit;
  }

  @media all and (max-width: 699px) {
    margin: $unit 0;
  }
}

.audio__duration {
  font-size: 1rem;
  color: $secondary-color;
}

.audio__volume {
  @media all and (min-width: 700px) {
    flex: 0 1 $quadruple-unit;
    margin-left: $unit;
  }

  @media all and (max-width: 699px) {
    margin: $unit 0;
  }
}
