
* {
  box-sizing: border-box;
}

html,
body,
#content {
  margin: 0;
  padding: 0;
  font-family: 'Avant Garde', 'Lucide Grande', sans-serif;
  font-size: 16px;
  background-color: $background-color;
  color: $color;
  min-height: 100vh;
}

a,
.button--link {
  color: #000;
  transition: all 0.2s;
  text-decoration: underline;
  background-color: transparent;
  font-size: inherit;
  padding: 0;

  // &:hover {
  //   background-color: $secondary-background-color;
  // }
}

input,
textarea,
select {
  font-size: inherit;
}

textarea {
  resize: vertical;
}

h1 {
  margin: $double-unit 0;
}

h2,
h3 {
  margin: $unit 0;
}

p {
  // font-family: Georgia, serif;
  max-width: $text-width;
  margin: $unit 0;
}

fieldset {
  border: none;
  padding: 0;
}

button {
  outline: none;
  border-radius: 0;
  border: none;
  margin: 0;
  cursor: pointer;

  &.button--icon {
    padding: $half-unit;
    width: $double-unit;
    height: $double-unit;
    background-color: transparent;

    &:hover {
      background-color: $control-hover-background;

      .control-icon {
        fill: $active-color;
        stroke: $active-color;
      }
    }
  }
}

button:not(.button--link):not(.button--icon):not(.button--header):not(.button--circle),
.link--button {
  padding: $half-unit $unit;
  background-color: $control-background-color;
  color: $control-color;
  font-size: 20px;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: $control-hover-background;
    color: $active-color;
  }
}

.button--circle,
.link--circle {
  position: relative;
  width: $sextuple-unit;
  height: $sextuple-unit;
  border-radius: $triple-unit;
  // margin: $half-unit;
  padding: $half-unit;
  font-size: 20px;
  background-color: rgba(32, 32, 32, 0.7); //rgba(255, 255, 255, 0.8);
  color: #fff;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: $control-hover-background;
    color: $active-color;
  }

  .link__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

dt {
  color: $secondary-color;
  font-weight: 100;
  margin-bottom: $quarter-unit;
}

dd {
  font-weight: 600;
  margin-left: 0;
  margin-bottom: $half-unit;
}

.secondary {
  color: $secondary-color;
}

.tertiary {
  color: $tertiary-color;
}
