
* {
  box-sizing: border-box;
}

html,
body,
#content {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  background-color: $background-color;
  color: $color;
  min-height: 100vh;
}

a,
.link {
  border-radius: 0;
  border: none;
  color: #000;
  transition: all 0.2s;
  text-decoration: underline;
  background-color: transparent;
  font-size: inherit;
  padding: 0;
  cursor: pointer;

  .dark-background & {
    color: #fff;
  }

  &:focus {
    outline: 2px solid $focus-border-color;
  }
}

.anchor__indicator.control-icon {
  position: absolute;
  right: $half-unit + $quarter-unit;
  top: 50%;
  transform: translateY(-50%);
  width: $third-unit + $third-unit;
  height: $third-unit + $third-unit;
  stroke: #E3A235; // TODO: use site/page color

  path {
    stroke-width: 6px;
  }
}

.button,
.button-circle,
.button-right,
.button-left,
.button-icon,
// .button-header,
.button-plain {
  border-radius: 0;
  border: none;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  flex-shrink: 0;

  &:focus {
    outline: 2px solid $focus-border-color;
  }
}

.button,
.link-button {
  padding: $half-unit $unit;
  background-color: $control-background-color;
  color: $control-color;
  font-size: 1.25rem;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $control-hover-background;
    color: $control-hover-color;
  }
}

.button-plain {
  padding: 0 $unit;
  line-height: $double-unit;
  font-size: inherit;
  text-align: inherit;
  background-color: transparent;
  color: inherit;
  min-width: $unit;
  // background-color: $header-background-color;;
  // color: $control-color;

  // &:hover {
  //   background-color: $control-hover-background;
  //   color: $active-color;
  // }
}

.link-icon,
.button-icon {
  padding: $half-unit;
  width: $double-unit;
  height: $double-unit;
  background-color: transparent;

  &:hover {
    background-color: $control-hover-background;

    .control-icon {
      fill: $control-hover-color;
      stroke: $control-hover-color;
    }
  }
}

.button-circle {
  position: relative;
  display: inline-block;
  width: $sextuple-unit;
  height: $sextuple-unit;
  border-radius: $triple-unit;
  // margin: $half-unit;
  padding: $half-unit;
  font-size: 1.25rem;
  background-color: $control-background-color;
  color: $control-color;
  text-align: center;

  &:hover {
    background-color: $control-hover-background;
    color: $control-hover-color;
  }

  .button__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.button-right,
.button-left {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 100;
  padding: $unit;
  background-color: $control-background-color;
  color: $control-color;
  transition: all 0.2s;

  &:hover {
    background-color: $control-hover-background;
    color: $control-hover-color;

    .button__arrow {
      fill: $control-hover-background;
    }
  }
}

.button__arrow {
  position: absolute;
  top: 0;
  width: $unit;
  height: 100%;
  fill: $control-background-color;
  transition: fill 0.2s;
}

.button-right {
  margin-right: $unit;

  .button__arrow {
    right: -$unit;
  }
}

.button-left {
  margin-left: $unit;

  .button__arrow {
    left: -$unit;
  }
}

.button--secondary {
  background-color: rgba($control-background-color, 0.1);
  color: $secondary-color;
}

.button__indicator.control-icon {
  width: $third-unit + $third-unit;
  height: $third-unit + $third-unit;
  stroke: #E3A235; // TODO: use site/page color

  path {
    stroke-width: 6px;
  }
}

input,
textarea,
select {
  font-size: inherit;
  border: none;
  border-radius: 0;
  padding: $half-unit;

  &:focus {
    outline: 2px solid $focus-border-color;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: $small-drop-caret no-repeat center right $half-unit;
  cursor: pointer;
  padding: $half-unit $double-unit $half-unit $half-unit;

  &::-moz-focus-inner {
    border: none;
  }
}

textarea {
  resize: vertical;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h1 {
  margin: $double-unit 0;
  font-size: 2em; // since browser's might decrease
}

h2,
h3 {
  margin: $unit 0;
}

p {
  // font-family: Georgia, serif;
  max-width: $text-width;
  margin: $unit 0;
  line-height: 1.6em;
}

fieldset {
  border: none;
  padding: 0;
}

dt {
  color: $secondary-color;
  font-weight: 100;
  margin-bottom: $quarter-unit;
}

dd {
  font-weight: 600;
  margin-left: 0;
  margin-bottom: $half-unit;
}

.primary {
  font-weight: 600;
}

.secondary {
  color: $secondary-color;
}

.tertiary {
  color: $tertiary-color;
}

.error {
  color: $error-color;
}

.dark-background {
  color: $color-on-dark;

  .secondary,
  .tertiary {
    color: inherit;
  }
}

$fonts-path: "https://fonts.gstatic.com/s/worksans/v2";

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src:
    local('Work Sans Light'),
    local('WorkSans-Light'),
    url("#{$fonts-path}/FD_Udbezj8EHXbdsqLUplxampu5_7CjHW5spxoeN3Vs.woff2") format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('Work Sans'),
    local('WorkSans-Regular'),
    url("#{$fonts-path}//ElUAY9q6T0Ayx4zWzW63VJBw1xU1rKptJj_0jans920.woff2") format('woff2');
}

// @font-face {
//   font-family: 'Work Sans';
//   font-style: normal;
//   font-weight: 500;
//   src:
//     local('Work Sans Medium'),
//     local('WorkSans-Medium'),
//     url("#{$fonts-path}/Nbre-U_bp6Xktt8cpgwaJBampu5_7CjHW5spxoeN3Vs.woff2") format('woff2');
// }

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src:
    local('Work Sans SemiBold'),
    local('WorkSans-SemiBold'),
    url("#{$fonts-path}/z9rX03Xuz9ZNHTMg1_ghGRampu5_7CjHW5spxoeN3Vs.woff2") format('woff2');
}

// @font-face {
//   font-family: 'Work Sans';
//   font-style: normal;
//   font-weight: 700;
//   src:
//     local('Work Sans Bold'),
//     local('WorkSans-Bold'),
//     url("#{$fonts-path}/4udXuXg54JlPEP5iKO5AmRampu5_7CjHW5spxoeN3Vs.woff2") format('woff2');
// }
