
.calendar__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // background-color: $secondary-background-color;

  a:not(:last-child) {
    margin-right: $unit;
  }

  > .button-icon:first-child {
    margin-right: $half-unit;
  }

  > .button-icon:last-child {
    margin-left: $half-unit;
  }

  @media all and (min-width: 700px) {
    margin-bottom: $unit;

    select {
      font-size: 1.5rem;

      option {
        font-size: 1rem;
      }
    }
  }

  @media all and (max-width: 699px) {
    select {
      width: 100%;
    }
  }
}

.calendar__week {
  @media all and (min-width: 700px) {
    display: flex;
    align-items: stretch;
  }
}

.calendar__week--header {

  @media all and (max-width: 699px) {
    display: none;
  }

  .calendar__day {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    padding: $quarter-unit;
    color: #666;
  }
}

.calendar__day {
  @media all and (min-width: 700px) {
    flex: 1;
    text-align: left;
  }
}

.calendar__day--today {
  .calendar__day-date {
    background-color: #555;
    color: $active-color;
  }
}

.calendar__day-date {
  padding: $quarter-unit;
  background-color: $header-background-color;
  border: 1px solid $background-color;
  text-decoration: none;

  &:hover {
    background-color: $control-hover-background;
    color: $control-hover-color;
  }

  @media all and (min-width: 700px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    input {
      margin-left: $quarter-unit;
    }

    label {
      text-align: right;
    }
  }

  @media all and (max-width: 699px) {
    display: block;
  }
}

.calendar__day--alternate {
  background-color: $secondary-background-color;

  @media all and (max-width: 699px) {
    display: none;
  }

  .calendar__day-date {
    background-color: $secondary-background-color;
    font-weight: 100;

    &:hover {
      background-color: $control-hover-background;
      color: $control-hover-color;
    }
  }
}

.calendar__day--empty {
  @media all and (max-width: 699px) {
    display: none;
  }
}

.calendar__day-date-month,
.calendar__day-date-year,
.calendar__day-date-dayofweek {
  margin-right: $quarter-unit;
  @media all and (min-width: 700px) {
    display: none;
  }

  &--first {
    display: inline;
  }
}

.calendar__day-date-weekday {
  margin-right: $quarter-unit;
  display: none;
}

.calendar--fixed {
  padding: $unit 0;

  @media all and (max-width: 699px) {
    .calendar__week {
      display: flex;
      align-items: stretch;
    }

    .calendar__day {
      display: inline-block;
      vertical-align: top;
      flex: 1;
      text-align: left;
    }

    .calendar__day-date {
      text-align: center;

      label {
        display: block;
        margin-top: $quarter-unit;
      }
    }
  }
}

.calendar:not(.calendar--fixed) {
  @media all and (max-width: 699px) {
    .calendar__day-date {
      padding: $quarter-unit $unit;
    }

    .calendar__event {
      a {
        padding: $quarter-unit $unit;
      }
    }
  }
}

.calendar__events {
  margin: 0 ; //0 0 $unit;
  padding: 0;
  list-style-type: none;

  @media all and (min-width: 700px) {
    min-height: $double-unit;
  }

  @media all and (max-width: 699px) {
    margin-bottom: $unit;
  }
}

.calendar__event {
  a {
    padding: $quarter-unit;
    display: block;
    color: #333;
    text-decoration: none;

    &:hover {
      background-color: $control-hover-background;
      color: $control-hover-color;
    }
  }
}

.calendar__event-time {
  margin-right: $quarter-unit;
  color: $tertiary-color;
  display: inline-block;
}

.calendar__event-name {
  display: block;
  margin-left: $half-unit;
}

.calendar__nav {
  margin: $double-unit 0;
  display: flex;
  justify-content: space-between;

  a {
    cursor: pointer;

    &:first-child {
      &:before {
        content: '< ';
      }
    }

    &:last-child {
      &:after {
        content: ' >';
      }
    }
  }
}

.calendar__spinner {
  margin: $unit auto;
}

.event-times--large {
  font-size: 2rem;
  font-weight: 100;
}
