.calendar {
  padding: $unit;
}

.calendar__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: $page-width;
  margin: 0 auto $unit;

  a:not(:last-child) {
    margin-right: $unit;
  }

  select {
    font-size: 24px;

    option {
      font-size: 16px;
    }
  }
}

.calendar__week {
  @media all and (min-width: 700px) {
    display: flex;
    align-items: stretch;
  }
}

.calendar__week--header {

  @media all and (max-width: 699px) {
    display: none;
  }

  .calendar__day {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    padding: $quarter-unit;
    color: #666;
  }
}

.calendar__day {
  @media all and (min-width: 700px) {
    display: inline-block;
    vertical-align: top;
    flex: 1;
    text-align: left;
  }
}

.calendar__day--today {
  .calendar__day-date {
    background-color: #555;
    color: $active-color;
  }
}

.calendar__day-date {
  padding: $quarter-unit;
  text-align: right;
  background-color: $header-background-color;
  border-right: 2px solid $background-color;
  margin-bottom: 2px;

  input {
    float: left;
  }
}

.calendar__day--alternate {
  background-color: $secondary-background-color;

  @media all and (max-width: 699px) {
    display: none;
  }

  .calendar__day-date {
    background-color: $secondary-background-color;
    font-weight: 100;
  }
}

.calendar__day-date-month,
.calendar__day-date-year {
  margin-right: $quarter-unit;
  @media all and (min-width: 700px) {
    display: none;
  }

  &--first {
    display: inline;
  }
}

.calendar__day-date-weekday {
  margin-right: $quarter-unit;
  display: none;
}

.calendar__events {
  margin: 0 0 $unit;
  padding: 0;
  list-style-type: none;
  min-height: $quadruple-unit;
}

.calendar__event {
  a {
    text-indent: - $half-unit;
    padding: $quarter-unit $quarter-unit $quarter-unit ($half-unit + $quarter-unit);
    display: block;
    color: #333;
  }
}

.calendar__event-time {
  width: $unit * 3;
  margin-right: $quarter-unit;
  text-indent: 0;
  color: #666;
  display: inline-block;
}

.calendar__nav {
  margin: $double-unit 0;
  display: flex;
  justify-content: space-between;

  a {
    cursor: pointer;

    &:first-child {
      &:before {
        content: '< ';
      }
    }

    &:last-child {
      &:after {
        content: ' >';
      }
    }
  }
}

.calendar__spinner {
  margin: $unit auto;
}
