.form__container {
  display: flex;
  min-height: 100vh;

  @media all and (min-width: 700px) {
    flex-direction: row;
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
  }
}

.form {
  background-color: $secondary-background-color;

  .section__container & {
    background-color: inherit;
  }

  @media all and (min-width: 700px) {
    flex: 1 0 $form-width;
  }

  @media all and (max-width: 699px) {
    flex: 1 0 auto;
  }
}

.form-error {
  height: 0;
  max-width: $form-width;
  margin: 0 auto;
}

.form-error--active {
  background-color: #ffe8e8;
  padding: 1px $unit;
  height: auto;
}

.form-error__message {
  color: $error-color;

  @media all and (min-width: 700px) {
    max-width: $form-width;
    margin: 0 auto;
  }
}

.form__fields {
  margin: $double-unit $unit;

  legend {
    margin: $quarter-unit;
  }
}

.form-section {
  border-top: 1px solid $border-color;
  padding-top: $half-unit;
  padding-bottom: $unit;

  .form__fields:first-of-type {
    margin-top: 0;
  }

  .form__fields:last-of-type {
    margin-bottom: 0;
  }
}

.form-item {
  max-width: $form-width;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: $double-unit;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }

  > *:first-child {
    flex: 1;
  }

  + .form__fields,
  + * > .form__fields:first-child {
    margin-top: 0;
  }
}

.form__text {
  max-width: $form-width;
  margin: 0 auto;

  .text {
    padding: 0;
  }
}

.form-field {
  position: relative;
  background-color: $background-color;
  border: 1px solid $border-color;
  max-width: $form-width;
  margin: 0 auto;
  margin-bottom: -1px;

  .section__container & {
    background-color: rgba($background-color, 0.9);

    input,
    select,
    textarea {
      background-color: transparent;
    }
  }

  input:not([type="checkbox"]):not([type="radio"]):not(.select-search__input),
  select,
  textarea,
  .select-search {
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin: $half-unit;
  }

  .input,
  .select-search__value {
    padding: $half-unit;
    line-height: $unit;
    flex: 1;
  }
}

.form-field--closable {
  padding-right: $double-unit;
}

.form-field--dragging {
  background-color: rgba(0, 0, 0, 0.3);
}

.form-field__labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $half-unit $half-unit 0;
  color: $tertiary-color;

  + .form__tabs {
    margin-top: $quarter-unit;
  }
}

.form-field__error {
  color: $error-color;
}

.form-field__close {
  position: absolute;
  top: 0;
  right: 0;
}

.form-field__image {
  padding-top: $half-unit;
  max-width: $form-width - $double-unit;
}

.form-field-add {
  display: flex;
  flex-direction: column;
  max-width: $form-width;
  margin: 0 auto;
}

.form-field-add__control {
  align-self: center;
}

.form__tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: stretch;
  // flex-wrap: wrap;
  max-width: $form-width;
  margin: 0 auto;
}

.form__footer {
  display: flex;

  @media all and (min-width: 700px) {
    flex-direction: row;
    justify-content: space-between;
    max-width: $form-width;
    margin: $unit auto 0;
    padding-bottom: $unit;
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
    padding: 0;

    button {
      margin: $unit 0;
    }
  }
}

// confirm-remove

.confirm-remove {
  position: relative;
}

.confirm-remove__confirm {
  position: absolute;
  bottom: 0;
  right: 0;
  flex-direction: column;
  display: none;

  @media all and (max-width: 699px) {
    margin: $unit 0;
    width: 100%;
  }

  button {
    margin: 0;
  }
}

.confirm-remove__remove {
  @media all and (max-width: 699px) {
    width: 100%;
  }
}

.confirm-remove--confirming {
  .confirm-remove__remove {
    visibility: hidden;
  }

  .confirm-remove__confirm {
    display: flex;
  }
}

// date-time

.date-time {
  position: relative;
}

.date-time__input {
  display: block;
  width: 100%;
  border: none;
  // padding: $half-unit 0;

  // Disable IE's clear icon
  &::-ms-clear {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

.date-time__details {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: $background-color;
  text-align: center;
  padding: 0 $unit $unit;
  border-style: none solid solid;
  border-width: 1px;
  border-color: $border-color;
}

.date-time__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.date-time__title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.date-time__grid {
  width: 100%;
  padding: $half-unit;

  table {
    width: 100%;
    margin-bottom: 0;
  }

  th,
  td {
    text-align: center;
  }

  th {
    color: #666;
    font-weight: normal;
    padding: $quarter-unit;
  }
}

.date-time__day {
  display: inline-block;
  cursor: pointer;
  width: $unit * 1.5;
  padding: $quarter-unit;
  transition: background-color 0.3s;

  &:hover {
    background-color: $control-hover-background;
    color: $active-color;
  }
}

.date-time__day--other-month {
  color: #666;
}

.date-time__day--active {
  background-color: $control-active-background;
  color: $active-color;
  font-weight: 700;
}

.date-time__time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: $half-unit 0;
  font-size: 18px;
  font-weight: 700;
}

.date-time__time-select {
  display: flex;
  flex-direction: column;
  margin: 0 $quarter-unit;
}

.date-time__time-element {
  margin: $quarter-unit 0;
}

// select-search

.select-search {
  position: relative;
  display: inline-block;
  flex: 1;
}

.select-search__value {
  height: $double-unit;
  flex: 1;

  .list__header & {
    background-color: inherit;
  }
}

.select-search__drop {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  text-align: left;
  border-style: none solid solid;
  border-width: 1px;
  border-color: $border-color;
}

.select-search__header {
  display: flex;
  flex-direction: row;
  align-items: center;

  > .button-icon {
    flex: 0 0 auto;
  }
}

.select-search__input {
  flex: 1;
}

.select-search__suggestion {
  line-height: $unit;
  padding: $quarter-unit $half-unit;
  cursor: pointer;

  &:hover {
    background-color: $control-hover-background;
    color: $active-color;
  }
}

.choice {
  display: flex;
  flex-direction: row;
  justify-content: 'start';
  align-items: center;
}

.choice--disabled {
  background-color: $secondary-background-color;
  color: $tertiary-color;
}

.choice__note {
  margin: 0 $half-unit;
  flex: 1;
  text-align: right;
}

.image-field__image {
  max-width: 100%;
}

.control-icon {
  width: $unit;
  height: $unit;
  cursor: pointer;
  fill: $secondary-color;
  stroke: $secondary-color;
}

.control-icon--secondary {
  fill: $secondary-icon-color;
  stroke: $secondary-icon-color;
}

.form-summary {
  max-width: $form-width;
  margin: 0 auto;
}

.form-summary__container {
  transition: height 1s;
  overflow: auto;

  > * {
    animation: fadein 2s;
  }
}
