.form__container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.form {
  flex: 1 0 $form-width;
  background-color: $secondary-background-color;
}

.form-error {
  height: 0;
}

.form-error--active {
  background-color: #ffe8e8;
  padding: $unit;
  height: auto;
}

.form-error__message {
  max-width: $form-width;
  margin: 0 auto;
  color: #ee3333;
}

.form__fields {
  margin: $double-unit $unit;

  legend {
    margin: $quarter-unit;
  }
}

.form__fields-header {
  max-width: $form-width;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: $unit;
  margin-bottom: - $double-unit;
}

.form-field {
  position: relative;
  background-color: $background-color;
  border: 1px solid #ccc;
  max-width: $form-width;
  margin: 0 auto;
  margin-bottom: -1px;

  input:not([type="checkbox"]):not([type="radio"]),
  select,
  textarea {
    width: 100%;
    border: none;
    padding: $half-unit;

    &:focus {
      outline: none;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin: $half-unit;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: $small-drop-caret no-repeat center right $half-unit;
    cursor: pointer;

    &::-moz-focus-inner {
      border: none;
    }
  }
}

.form-field--dragging {
  background-color: rgba(0, 0, 0, 0.3);
}

.form-field__labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $half-unit $half-unit 0;
  color: $tertiary-color;
}

.form-field__image {
  padding-top: $half-unit;
  max-width: $form-width - $double-unit;
}

.form__tabs {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
  max-width: $form-width;
  margin: 0 auto;

  > * {
    flex: 1 0 auto;
  }
}

.form__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: $form-width;
  margin: $unit auto 0;
}

// confirm-remove

.confirm-remove {
  position: relative;
}

.confirm-remove__confirm {
  position: absolute;
  bottom: 0;
  right: 0;
  flex-direction: column;
  display: none;
}

.confirm-remove--confirming {
  .confirm-remove__remove {
    visibility: hidden;
  }

  .confirm-remove__confirm {
    display: flex;
  }
}

// date-time

.date-time {
  position: relative;
}

.date-time__input {
  display: block;
  width: 100%;
  border: none;
  // padding: $half-unit 0;

  // Disable IE's clear icon
  &::-ms-clear {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

.date-time__details {
  margin-top: $unit;
  text-align: center;
}

.date-time__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.date-time__title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.date-time__grid {
  width: 100%;
  padding: $half-unit;

  table {
    width: 100%;
    margin-bottom: 0;
  }

  th,
  td {
    text-align: center;
  }

  th {
    color: #666;
    font-weight: normal;
    padding: $quarter-unit;
  }
}

.date-time__day {
  display: inline-block;
  cursor: pointer;
  width: $unit * 1.5;
  padding: $quarter-unit;
  transition: background-color 0.3s;

  &:hover {
    background-color: $control-hover-background;
    color: $active-color;
  }
}

.date-time__day--other-month {
  color: #666;
}

.date-time__day--active {
  background-color: $control-active-background;
  color: $active-color;
  font-weight: 700;
}

.date-time__time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: $half-unit 0;
  font-size: 18px;
  font-weight: 700;
}

.date-time__time-select {
  display: flex;
  flex-direction: column;
  margin: 0 $quarter-unit;
}

.date-time__time-element {
  margin: $quarter-unit 0;
}

.choice--disabled {
  background-color: $secondary-background-color;
  color: $tertiary-color;
}

.used-by {
  margin-left: $half-unit;
}

.image-field__image {
  max-width: 100%;
}
