
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list__marker {
  background-color: $hover-background;
  padding: 0 $unit;
}

.list__count {
  margin: $unit;
  text-align: center;
  color: $tertiary-color;
}

.list__message {
  padding: $quadruple-unit $triple-unit;
  color: $tertiary-color;
}

.marker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: $page-width;
  margin: 0 auto;
  padding: $quarter-unit $unit;
  color: $tertiary-color;
}

a.item__container,
button.item__container {
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  width: 100%;

  &:hover {
    background-color: $hover-background;
  }

  &:not(.dark-background) {
    color: inherit;
  }
}

.item__container {
  padding-left: $unit;
  padding-right: $unit;
}

.item {
  display: flex;
  max-width: $page-width + $double-unit;
  margin: 0 auto;

  @media all and (min-width: 700px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $unit;

    > *:not(:last-child) {
      margin-right: $half-unit;
    }
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
    padding: $unit 0;

    > *:not(:first-child) {
      margin-top: $half-unit;
    }
  }
}

.item--center {
  @media all and (min-width: 700px) {
    flex-direction: column;
  }
  @media all and (max-width: 699px) {
    text-align: center;
  }
}

.item--full {
  padding: $quarter-unit 0;
}

.item__name {
  font-weight: 600;
}

.item--primary {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  > .item__container {
    background-color: $secondary-background-color;
  }
}

.box--row {
  display: flex;
  flex-direction: row;
  align-items: center;

  > * {
    margin-right: $half-unit;
  }

  > *:last-child,
  > .button-icon,
  > .link-icon {
    margin-right: 0;
  }

  &:not(.box--static) {
    @media all and (max-width: 699px) {
      flex-direction: column;
      align-items: stretch;

      > *:not(:last-child):not(.button-icon):not(.link-icon) {
        margin-right: 0;
      }
    }
  }
}

.box--column {
  display: flex;
  flex-direction: column;
}

.box--between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  > *:not(:last-child) {
    margin-right: $quarter-unit;
  }
}

.email-list__search {
  margin-top: $unit;
}

.email-list__address {
  flex: 1;
  margin-right: $half-unit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.resource-day {
  font-size: 1.25rem;
  font-weight: 100;
  justify-content: flex-start;

  @media all and (max-width: 699px) {
    flex-direction: row;
    padding: $half-unit;
    justify-content: space-between;

    > *:not(:first-child) {
      margin-top: 0;
    }

    > *:not(:last-child) {
      margin-right: $half-unit;
    }
  }
}

.resource-event {

  @media all and (min-width: 700px) {
    align-items: flex-start;
  }

  @media all and (max-width: 699px) {
    flex-direction: row;
    padding: $half-unit;

    > *:not(:first-child) {
      margin-top: 0;
    }

    > *:not(:last-child) {
      margin-right: $half-unit;
    }
  }
}

.resource-event__time {
  flex: 0 0 round($unit * 8);
  margin-right: $unit;
}

.resource-event__name {
  flex: 0 1 auto;
  margin-right: $unit;
}

.resource-event__resources {
  flex: 1 0 round($unit * 8);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.resource-event__resource {
  margin-left: $unit;
  margin-bottom: $half-unit;
  flex: 0 0 round($unit * 8);
}

.box__connector {
  flex: 1 1;
  height: 1px;
  border-left: $unit solid transparent;
  border-right: $unit solid transparent;

  @media all and (max-width: 699px) {
    display: none;
  }
}

.email-list__addresses {
  .item {
    padding: $quarter-unit 0;

    &:hover {
      .box__connector {
        border-bottom: 1px solid $border-color;
      }
    }
  }
}

.audit-log__type {
  display: inline-block;
  width: round($unit * 4);
  font-weight: 100;
  margin-left: $unit;
}

.audit-log__timestamp {
  display: inline-block;
  width: round($unit * 6);
  text-align: right;
}

.payment__item-amount {
  width: round($unit * 4);
  text-align: right;
}
