
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list__marker {
  background-color: $hover-background;
}

.list__count {
  margin: $unit;
  text-align: center;
  color: $tertiary-color;
}

.list__header {
  display: flex;
  background-color: $header-background-color;

  @media all and (min-width: 700px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    > * {
      margin: 0 $unit;
      flex: 0 1 auto;
    }
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.marker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: $page-width;
  margin: 0 auto;
  padding: $quarter-unit $unit;
  color: $tertiary-color;
}

a.item__container,
button.item__container {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin: 0;
  width: 100%;

  &:hover {
    background-color: $hover-background;
  }
}

.item {
  display: flex;
  padding: $unit;
  max-width: $page-width;
  margin: 0 auto;

  @media all and (min-width: 700px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > *:not(:last-child) {
      margin-right: $half-unit;
    }
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
  }
}

.item--full {
  padding: $quarter-unit 0;
}

.item__name {
  font-weight: 600;

  @media all and (max-width: 699px) {
    margin-bottom: $half-unit;
  }
}

.item--primary {
  border-top: $half-unit solid $nav-background-color;
  border-bottom: $half-unit solid $nav-background-color;
}

.box--row {
  display: flex;
  flex-direction: row;
  align-items: center;

  > * {
    margin-right: $half-unit;
  }

  > *:last-child,
  > .button-icon,
  > .link-icon {
    margin-right: 0;
  }

  &:not(.box--static) {
    @media all and (max-width: 699px) {
      flex-direction: column;
      align-items: stretch;

      > *:not(:last-child):not(.button-icon):not(.link-icon) {
        margin-right: 0;
      }
    }
  }
}

.box--column {
  display: flex;
  flex-direction: column;
}

.box--between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  > *:not(:last-child) {
    margin-right: $quarter-unit;
  }
}

.email-list__search {
  margin-top: $unit;
}

.email-list__address {
  flex: 1;
  margin-right: $half-unit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
