
.message__image {
  min-width: 100%;
}

.message__nav {
  display: flex;

  @media all and (min-width: 700px) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media all and (max-width: 699px) {
    flex-direction: column-reverse;

    > * {
      margin-top: $quarter-unit;
      margin-bottom: $quarter-unit;
    }
  }
}

.message__nav-verses {
  color: #999;
}
