
.page-text__container,
.page-image__container {
  padding: 0 $unit;
}

.page-text {
  max-width: $page-width;
  margin: 0 auto;
  padding: $unit 0;
}

.page-image {
  display: block;
  width: 100%;
  max-width: $page-width;
  margin: 0 auto;
}

// .page-text__container--full {
//   padding: 0;
//
//   .page-text {
//     padding: $unit;
//     margin: 0;
//   }
// }

.page-image__container--full {
  padding: 0;

  .page-image {
    max-width: none;
    margin: 0;
  }
}
