
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.section__container {
  position: relative;
  padding: 0 $unit;
  overflow: hidden;

  @media all and (min-width: 700px) {
    opacity: 0;
  }
}

.section__container--active {
  @media all and (min-width: 700px) {
    animation: fadein 1s forwards;
    animation-delay: 0.3s;
  }
}

.section__background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
}

.section {
  position: relative;
  display: block;
  max-width: $page-width;
  margin: 0 auto;
  padding: $double-unit 0;
  z-index: 1;

  &.image,
  > .image {
    width: 100%;

    &.image--avatar {
      width: auto;
      max-height: $tile-width + (2 * $double-unit);
    }
  }

  &.list {
    font-size: 1.25rem;
    max-width: $page-width + $double-unit;

    .item {
      @media all and (min-width: 700px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &.text {
    text-align: center;

    p {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.section__container--full {
  padding: 0;

  .section.image,
  .section.video,
  .footer {
    max-width: none;
    margin: 0;
    padding: 0;
  }

  .section {
    &.list {

      .item__container:first-child {
        .item.audio {
          margin-top: $unit;
        }
      }

      .item__container:last-child {
        .item.audio {
          margin-bottom: $unit;
        }
      }
    }
  }

  .library-summary {
    padding: $unit;
  }
}

.section__container--colored {

  a {
    color: inherit;
  }
}

.section__container--footer {
  background-color: $header-background-color;
  color: $secondary-color;
}

@mixin section-content {
  @media all and (min-width: 700px) {
    padding: $double-unit 0;
  }

  @media all and (max-width: 699px) {
    padding: $double-unit 0;
  }
}

.text {
  max-width: $page-width;
  margin: 0 auto;
  // text-align: center;
  @include section-content;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  > div { // markdown-to-jsx
    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  // p {
  //   margin: $unit auto;
  // }
}

.map {
  position: relative;
  min-height: round($unit * 8);
}

.video {
  width: 100%;

  @media all and (min-width: 700px) {
    height: 540px;
  }

  @media all and (max-width: 699px) {
    // padding: $unit 0;
    height: 62vw; // empirically determined
  }
}

.event-summary {
  @include section-content;
}

.event-summary__contents {
  position: relative;
  display: flex;

  @media all and (min-width: 700px) {
    flex-direction: row;
    max-width: $page-width;
    margin: 0 auto;
    align-items: center;
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
    align-items: center;
  }
}

.event-summary__text-container {
  text-align: center;

  @media all and (min-width: 700px) {
    flex: 1 0 50%;
    padding: $double-unit $unit $double-unit 0;
  }

  @media all and (max-width: 699px) {
    padding: 0 $unit $unit;
  }
}

.event-summary__text {
  display: inline-block;
  border-color: $control-background-color;
  border-width: round($unit / 4);
  border-style: solid none;
  padding: $unit;
  text-decoration: none;

  h1,
  h2,
  h3 {
    margin-top: 0;
  }

  // button {
  //   margin-bottom: $unit;
  // }

  .event-times {
    text-align: center;
  }

  .event-times__times {
    display: block;
  }
}

.event-summary__date {
  font-size: 1.5rem;
  font-weight: 100;
  margin: $half-unit 0;
}

.event-summary__location {
  font-size: 1.1rem;
  font-weight: 100;
  margin: $half-unit 0;
}

.event-summary__map {

  @media all and (min-width: 700px) {
    flex: 0 0 50%;
    // padding: $unit 0;
  }

  @media all and (max-width: 699px) {
    width: 100%;
  }

  .map {
    height: round($unit * 12);

    @media all and (max-width: 699px) {
      width: 100%;
    }
  }
}

.event__map {
  padding: $unit 0;
}

@import 'audio';

.library-summary {
  // overflow: hidden;
  // padding: $quadruple-unit 0;

  position: relative;
  display: flex;
  @include section-content;

  @media all and (min-width: 700px) {
    flex-direction: row;
    align-items: center;
    max-width: $page-width;
    margin: 0 auto;
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
    align-items: center;
  }

  // > a {
  //   display: flex;
  //   flex-direction: column;
  //   text-decoration: none;
  //
  //   @media all and (min-width: 700px) {
  //     // align-items: center;
  //   }
  //
  //   @media all and (max-width: 699px) {
  //     align-items: center;
  //
  //     h2 {
  //       text-align: center;
  //     }
  //   }
  // }
}

.library-summary__library {
  text-align: center;

  @media all and (min-width: 700px) {
    flex: 1 0 50%;
    padding-right: $unit;
    // padding: $double-unit $unit $double-unit 0;
  }

  @media all and (max-width: 699px) {
    // padding: 0 $unit $unit;
    padding-bottom: $unit;
  }
}

.library-summary__message {

  @media all and (min-width: 700px) {
    flex: 1 0 50%;
    // padding: $double-unit $unit $double-unit 0;
  }

  // @media all and (max-width: 699px) {
  //   padding: 0 $unit $unit;
  // }

  > a {
    text-decoration: none;
  }

  // @media all and (min-width: 700px) {
  //   flex-direction: row;
  //   align-items: center;
  //   max-width: $page-width;
  //   margin: 0 auto;
  //   padding: 0;
  //
  //   h2 {
  //     margin-left: $unit;
  //   }
  // }
  //
  // @media all and (max-width: 699px) {
  //   flex-direction: column;
  //   align-items: center;
  //   padding: $unit;
  //
  //   > * {
  //     margin: $half-unit 0;
  //   }
  // }
  //
  // label {
  //   font-size: 1.5em;
  //   font-weight: 100;
  //   text-align: right;
  //
  //   @media all and (min-width: 700px) {
  //     margin: 0 $unit;
  //   }
  //
  //   @media all and (max-width: 699px) {
  //     margin-bottom: $half-unit;
  //   }
  // }
}

.library-summary__message--imaged {
  // margin-top: -4px;
  margin-top: $unit;
  margin-bottom: $unit;
}

.library-summary__message-image {
  position: relative;
  min-width: 100%;
  // margin-bottom: -4px;

  .section__container & {
    width: 100%;
  }
}

.person-summary {
  width: 240px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.person-summary__image {
  max-width: 100%;
}

.page-summaries,
.people-summaries {
  display: flex;
  @include section-content;

  @media all and (min-width: 700px) {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: $page-width;

    > * {
      padding: $unit;
    }
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
    align-items: center;

    > * {
      margin: $unit 0;
    }
  }
}

.page-summaries {
  @media all and (min-width: 700px) {
    justify-content: center;

    > * {
      margin: $unit;
    }
  }
}

.people-summaries {
  @media all and (min-width: 700px) {
    margin: 0 auto;

    > * {
      padding: $half-unit;
    }
  }
}

.page-tile {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;

  @media all and (min-width: 700px) {
    margin: $half-unit;
  }

  @media all and (max-width: 699px) {
    margin: 0 0 $half-unit;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    width: 100%;
    // margin-bottom: -4px;
  }

  &:hover {
    .page-tile__name {
      background-color: $control-hover-background;
      color: $active-color;

      &:after {
        content: '';
        border-left-color: $control-hover-background;
      }
    }
  }
}

.page-tile__name {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 100;
  padding: $unit;
  background-color: $control-background-color;
  color: $control-color;
  margin-right: $unit;
  transition: all 0.2s;

  &:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: - $unit;
    width: $unit;
    height: 100%;
    border-color: transparent transparent transparent  $control-background-color;
    border-style: solid;
    border-width: ($unit + 14) 0 ($unit + 14) $unit;
    transition: all 0.2s;
  }
}

.page-links {
  display: flex;

  @media all and (min-width: 700px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: $page-width;
    margin: 0 auto $unit;
    padding-top: $unit;

    > * {
      flex: 0 0 auto;
      margin: $unit;
    }
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
    align-items: center;
    padding: $unit 0;

    > * {
      flex: 0 0 auto;
      margin: $half-unit 0;
    }
  }
}

.file-summaries {
  text-align: center;
}

.file-summary {
  display: block;
  margin: $half-unit 0;
}

.event-times__separator {
  margin: 0 $half-unit;
  color: $tertiary-color;
}

.event-times__date {
  display: inline-block;
}

.event-times__time {
  display: inline-block;
  white-space: nowrap;
}

.footer {
  display: flex;
  font-size: 0.875rem;

  @media all and (min-width: 700px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: $page-width;
    margin: 0 auto;
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
  }
}

.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  svg {
    margin: $unit;
    fill: $secondary-icon-color;
    animation-name: fadein;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    &:nth-child(2) {
      animation-delay: 1.3s;
    }

    &:nth-child(3) {
      animation-delay: 1.6s;
    }

    &:nth-child(4) {
      animation-delay: 1.9s;
    }

    .section__container--colored & {
      fill: $secondary-background-color;
    }
  }
}

.footer__links {
  display: flex;

  @media all and (min-width: 700px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: $page-width;
    margin: 0 auto $double-unit;
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
    align-items: center;
    margin: $unit;
  }
}

.home__header {
  position: relative;
  // margin: $unit;
  text-align: center;
}

.home__menu-layer {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 50%;
  transform: translate(-50%, -120%);
  overflow: hidden;
  padding-bottom: $double-unit;
  border-bottom-left-radius: $quadruple-unit;
  border-bottom-right-radius: $quadruple-unit;
  background-color: $secondary-background-color;

  > button {
    display: block;
    width: 100%;
  }

  > a {
    display: block;
    padding: $half-unit $double-unit;
    text-decoration: none;

    &:hover {
      background-color: $hover-background;
      color: $control-hover-background;
    }
  }
}

.home__menu-layer--active {
  transform: translate(-50%, 0%);
}

.home__brand {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  @media all and (max-width: 699px) {
    flex-direction: column;
  }
}

.home__social,
.home__nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  > * {
    flex: 0 0 auto;
    margin: $half-unit;
  }

  @media all and (max-width: 699px) {
    margin-top: $unit;
  }
}

.home__session {
  display: flex;
  align-items: center;
  text-align: center;

  @media all and (min-width: 700px) {
    flex-direction: row;

    a:last-child {
      margin-left: $unit;
    }
  }

  @media all and (max-width: 699px) {
    margin-top: $unit;

    flex-direction: column;

    a:nth-child(2) {
      margin-top: $unit;
    }
  }
}

.home__footer {
  a,
  span {
    padding: $unit;
    color: inherit;

    @media all and (max-width: 699px) {
      padding: $half-unit $unit;
      text-align: center;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.page-map {
  display: flex;
  flex-direction: column;
}

.page-map__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: $half-unit;
  border-top: 1px solid $border-color;

  &:first-child {
    border-top: none;
  }
}

.page-map__page {
  display: inline-block;
  // padding: $unit;
  margin: $half-unit;
}

.page-context {
  margin-top: $quadruple-unit;
}
