
.page-preview {
  min-width: $form-width;
}

.section__container {
  padding: 0 $unit;
}

.section {
  display: block;
  max-width: $page-width;
  margin: 0 auto;
  padding: $double-unit 0;

  &.image,
  > .image,
  > a > .image {
    width: 100%;
  }
}

.section__container--full {
  .section,
  .footer {
    max-width: none;
    margin: 0;
  }
}

.section__container--colored {

  a {
    color: inherit;
  }
}

.section__container--footer {
  background-color: $header-background-color;
  color: $secondary-color;
}

.text {
  max-width: $page-width;
  padding: $double-unit 0;
  margin: 0 auto;
}

.map {
  position: relative;
  // height: 40vh;
  min-height: $quadruple-unit;
}

.video {
  width: 100%;
  height: 540px;
}

.event-summary {
  position: relative;
  display: flex;

  .link--circle {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    transform: translate(-50%, -50%);
  }

  @media all and (min-width: 700px) {
    flex-direction: row;
    max-width: $page-width;
    margin: 0 auto;
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
  }
}

.event-summary__summary {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;

  @media all and (min-width: 700px) {
    flex: 1 0 50%;
    padding: $quadruple-unit;
  }

  @media all and (max-width: 699px) {
    padding: $unit;
  }

  .event-times {
    font-size: 32px;
    font-weight: 100;
    text-align: right;
  }

  .event-times__times {
    display: block;
  }
}

.event-summary__date {
  font-size: 24px;
  font-weight: 100;
}

.event-summary__map {

  @media all and (min-width: 700px) {
    flex: 0 0 50%;
  }

  .map {
    height: round($unit * 12);
  }
}

@import 'audio';

.library {
  a {
    display: block;
    text-decoration: none;
  }
}

.library__message {
  position: relative;
  display: flex;

  @media all and (min-width: 700px) {
    flex-direction: row;
    max-width: $page-width;
    margin: 0 auto;
    // align-items: center;
    padding: $double-unit 0;
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
    padding: $unit;
  }

  .button--circle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
  }

  label {
    font-size: 32px;
    font-weight: 100;
    text-align: right;

    @media all and (min-width: 700px) {
      flex: 0 0 50%;
      padding-right: $quadruple-unit;
    }

    @media all and (max-width: 699px) {
      margin-bottom: $half-unit;
    }
  }
}

.library__message-image {
  .section__container--full & {
    margin-top: - $double-unit;
    // margin-left: - $unit;
    // margin-right: - $unit;
  }
}

.library__message-details {

  @media all and (min-width: 700px) {
    flex: 0 0 50%;
    padding-left: $quadruple-unit;
  }

  h2 {
    margin: 0 0 $unit;
  }
}

.library__message-author {
  margin-top: $quarter-unit;
  color: $secondary-color;
}

.user-summary {
  display: flex;
  flex-direction: row;
}

.user-summary__summary {
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: $unit 0;

  h2 {
    margin-top: 0;
  }
}

.user-summary__avatar {
  flex: 0 0 20%;
}

.page-summaries {
  display: flex;

  @media all and (min-width: 700px) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: $page-width;
    margin: 0 auto;
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
  }
}

.page-tile {
  flex: 1;
  position: relative;
  text-decoration: none;
  cursor: pointer;

  img {
    width: 100%;
  }

  &:hover {
    .page-tile__name {
      background-color: $control-hover-background;
      color: $active-color;

      &:after {
        content: '';
        border-left-color: $control-hover-background;
      }
    }
  }
}

.page-tile__name {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 100;
  padding: $unit;
  background-color: $control-background-color;
  color: $control-color;
  margin-right: $unit;
  transition: all 0.2s;

  &:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: - $unit;
    width: $unit;
    height: 100%;
    border-color: transparent transparent transparent  $control-background-color;
    border-style: solid;
    border-width: ($unit + 14) 0 ($unit + 14) $unit;
    transition: all 0.2s;
  }
}

.page-links {
  display: flex;

  @media all and (min-width: 700px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: $page-width;
    margin: 0 auto;
    padding: $double-unit 0;

    > * {
      flex: 0 0 auto;
      margin: 0 $unit;
    }
  }

  @media all and (max-width: 699px) {
    flex-direction: coumn;
  }
}

.event-times__times {
  &:before {
    content: ' @ ';
    color: $tertiary-color;
  }
}

.event-times__date,
.event-times__time {
  white-space: nowrap;
}

.event-times__date + .event-times__date {
  &:before {
    content: ' - ';
    color: $tertiary-color;
  }
}

.event-times__time + .event-times__time {
  &:before {
    content: ' & ';
    color: $tertiary-color;
  }
}

.footer {
  display: flex;
  align-items: center;
  font-size: 14px;

  @media all and (min-width: 700px) {
    flex-direction: row;
    justify-content: space-between;
    max-width: $page-width;
    margin: 0 auto;
  }

  @media all and (max-width: 699px) {
    flex-direction: column;
  }

  a {
    padding: $unit;
    color: inherit;
  }
}
