
.search-page {
  min-height: 100vh;
}

.search {
  position: relative;
  z-index: 1;
}

.search__input {
  outline: 0;
  border-width: 2px;
  border-color: transparent;
  border-bottom-style: solid;

  &:focus {
    border-color: $brand-color;
  }
}

.search--responsive {
  @media all and (min-width: 700px) {
    flex: 1 0 auto;

    .search__input {
      margin: 0;
      padding: 0 $half-unit;
      height: $double-unit;
      background-color: transparent;
      font-size: 1.4rem;
      width: 100%;
    }

    .search__control {
      display: none;
    }
  }

  @media all and (max-width: 699px) {
    .search__input {
      display: none;
    }
  }
}

.search:not(.search--responsive) {
  flex: 1 1 auto;
  margin: 0;
  padding: 0 $half-unit;
  height: $double-unit;
  background-color: transparent;
  font-size: 1.4rem;

  .search__control {
    display: none;
  }

  .search__input {
    padding: ($unit / 3) $half-unit;
    width: 100%;
  }
}

.search--active {
  .search__input {
    display: block;
    position: absolute;
    top: $quadruple-unit;
    left: 0;
    max-width: round($unit * 24);
    width: 100vw;
  }
}

.search__message {
  padding: $quadruple-unit $triple-unit;
  color: $tertiary-color;
}

.search__link {
  display: block;
  font-size: 1.5em;
  padding: $half-unit $unit;
  background-color: $secondary-background-color;
  text-decoration: none;

  &:hover {
    background-color: $control-hover-background;
    color: $control-hover-color;
  }
}

.search__item {
  .text,
  .event-times {
    padding: $unit;

    strong {
      background-color: $accent-color;
    }
  }
}
