
$unit: 24px;
$half-unit: $unit / 2;
$quarter-unit: $unit / 4;
$double-unit: $unit * 2;
$sidebar-width: round($unit * 10); // 240px
$form-width: round($unit * 20); // 480px
$text-width: round($unit * 30); // 690px
$page-width: round($unit * 40); // 960px
$header-background-color: #eee;

@import 'base';
@import 'app';
@import 'form';
@import 'list';
@import 'page';
@import 'calendar';

.avatar {
  width: $double-unit;
  height: $double-unit;
  object-fit: cover;
  border-radius: $unit;
  background-color: #f2f2f2;
  pointer-events: none;
}
