
$unit: 24px;
$half-unit: $unit / 2;
$third-unit: $unit / 3;
$quarter-unit: $unit / 4;
$double-unit: $unit * 2;
$triple-unit: $unit * 3;
$quadruple-unit: $unit * 4;
$sextuple-unit: $unit * 6;

$sidebar-width: round($unit * 10); // 240px
$tile-width: round($unit * 10); // 240px
$form-width: round($unit * 20); // 480px
$text-width: round($unit * 30); // 690px
$page-width: round($unit * 40); // 960px

$background-color: #fff;
$secondary-background-color: #f8f8f8;
$nav-background-color: #666;
$color: #333;
$secondary-color: #666;
$tertiary-color: #999;
$color-on-dark: #f2f2f2;
$secondary-icon-color: #ccc;
$header-background-color: #eee;
$hover-background: rgba(0, 0, 0, 0.1);
$control-background-color: rgba(32, 32, 32, 0.7);
$control-color: #fff;
$control-hover-background: rgba(0, 0, 0, 0.1); //#333;
$control-active-background: #555;
$control-hover-color: #000;
$active-color: #fff;
$error-color: #ee3333;
$accent-color: rgba(#ee3, 0.6);
$border-color: #ccc;
$brand-color: #E3A235;

$small-drop-caret: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAOhJREFUSA3tksENgzAMRUmrrlApuTAAxxw6QvfojYmYKtw6QpUDI1Rq6o8MStsAMT1UlbAUcMB+33FcFJttHfifDlhrT7QO31YMBlgDZw8HH5RSF3JLY0zrvX8MAZI3F1gT66y17ohz2zGgDSFc6UdF+5oDJWwUidMDXoFFfgtAfwJUjMppX7KI6CQJeOOcu48CcNaKzMFfBNaILME/BCQiOfCkQI5ILhwshceUpUAcG0/LeKEpzqwAEhIiRTSKs3Dk92MKZ8rep4vgR57zRTiYiwIIikVo29HKgiNXZGgXt0yUtwX/tgNPQqatJ1aBLFMAAAAASUVORK5CYII=);

@import 'base';
@import 'app';
@import 'form';
@import 'list';
@import 'page';
@import 'home';
@import 'calendar';
@import 'message';
@import 'search';

.avatar {
  width: $double-unit;
  height: $double-unit;
  object-fit: cover;
  border-radius: $unit;
  background-color: #f2f2f2;
  pointer-events: none;
}
