<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title><%- title %></title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" type="image/png" href="/shortcut-icon.png" />
  <link rel="shortcut icon" sizes="196x196" type="image/png" href="/mobile-app-icon.png">
  <link rel="apple-touch-icon" href="/mobile-app-icon.png">
  <link href="/app.css?v1.1" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="content">
    <%- content %>
  </div>
  <script>
    window.__PRELOADED_STATE__ = <%- preloadedState %>
  </script>
  <script src="/vendor.js?v1.1" charset="utf-8"></script>
  <script src="/app.js?v1.1" charset="utf-8"></script>
</body>
</html>
